@import "tailwindcss";

@theme {
  --font-press-start: "Press Start 2P", system-ui;
  --font-cursive: "Dancing Script", cursive;
  --font-serif: "Playfair Display", serif;
}

/* Global Fix for Input Visibility */
input, textarea, select {
  color: inherit !important;
  background-color: transparent;
}

input::placeholder {
  color: currentColor;
  opacity: 0.5;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(155, 155, 155, 0.5);
  border-radius: 10px;
}